@model IEnumerable<comp4870_assignment_1.Models.RosterItem>

@{
  ViewData["Title"] = $"Team Players";
}

<div>
  <h1 class="display-4">@ViewData["Title"]</h1>
    <table class="table table-striped table-bordered">
    <tr>
      <th class="bg-coolors-blue-jeans">@Html.DisplayNameFor(model => model.person.fullName)</th>
      <th class="bg-coolors-blue-jeans"></th>
    </tr>
    @foreach (var item in Model)
    {
      <tr>
        <td class="bg-coolors-blue-jeans">@item.person.fullName</td>
        <td class="bg-coolors-blue-jeans" style="text-align: center;">
            <a asp-controller="Roster" asp-action="Player" asp-route-link="@item.person.link" class="btn btn-sm btn-light">View Player Details</a>
        </td>
      </tr>
      }
  </table>
  
</div>
